[2015-12-08 19:00] benzitohhh opened #3 "add callback for nv.addGraph"
Hi there,

this library is so useful. Thanks for all the hard work.

But how can a callback be registered with `nv.addGraph`?

i.e.

`nv.addGraph` can take a callback argument: https://github.com/novus/nvd3/blob/master/src/core.js#L114

[code]

This callback can can be used for extending the functionality of an nvd3 chart. It is a crucial part of the project that I am working on.

As far I can see

[2015-12-09 14:21] topicus commented on #3
Great feedback, I will add it as a component property.

[2015-12-09 15:53] benzitohhh commented on #3
Ok amazing - thanks!

[2015-12-09 21:34] benzitohhh opened #4 "configure not called onComponentDidUpdate"
At the moment, `this.props.configure` is only called onComponentDidMount.

It is not called onComponentDidUpdate.

This is a problem in a project I am working on. For example, we want to change the colour scheme on an update.

[2015-12-10 01:10] philster opened #5 "Axis labels and tick formats don't update on React render()"
When I pass dynamic values to axis labels and axis tick formats and rerender in React, I notice they don't update. Could it be a NVD3 or D3 thing? Can we override the chart update routine?

I'm thinking of data that comes in with different y-axis value formats (e.g. integer to float, currency, or percent).

Example:
[code]

[2015-12-10 12:35] topicus commented on #5
I'm going to check this. Related to #4

[2015-12-10 13:52] topicus commented on #5
@philster I've pushed a fix. I've tested it with a code pretty similar you posted. Let me know if that fixes the issue.

[2015-12-10 13:52] topicus commented on #4
@benzitohhh I've pushed a fix. Let me know if that solves your issue.

[2015-12-10 13:54] topicus commented on #3
I've added the callback in the last fix. You can pass it in this way:

```<NVD3Chart renderEnd={callback} .../>```

Let me know if it works for you.

[2015-12-10 14:17] benzitohhh commented on #4
@topicus it works great - thanks so much.

[2015-12-10 14:17] #4 closed

[2015-12-10 14:17] benzitohhh commented on #3
@topicus yup it works great - thanks a lot.

[2015-12-10 14:17] #3 closed

[2015-12-14 08:41] vunglephil commented on #5
I'll test to see if it works. Btw I notice react-nvd3 versions 0.2.0 and up require React 0.14. The project I'm working on still uses React 0.13, so I'm trying to find a workaround to work with react-nvd3 0.1.0.

[2015-12-14 08:42] philster commented on #5
I'll test to see if it works. Btw I notice react-nvd3 versions 0.2.0 and up require React 0.14. The project I'm working on still uses React 0.13, so I'm trying to find a workaround to work with react-nvd3 0.1.0.

[2015-12-15 17:13] ttrmw opened #7 "Does d3 need to be a global?"
It appears that d3 needs to be a global for react-nvd3 to work, is there any way around this? I was hoping to use

[code]

but this does not work.

[2015-12-16 15:06] topicus commented on #7
Working in this. I still trying to figure out how to make it work.

[2015-12-16 15:09] ttrmw commented on #7
I observe that the nvd3 module also seems to require that d3 is a global when used in this manner

[2015-12-16 15:09] topicus commented on #5
Not sure if there is a way to make it backward compatible. Do you have any clue?

[2015-12-18 11:39] benzitohhh opened #8 "expose legend and tooltip"
Currently legend and tooltip are not exposed.

It would be great if they could be exposed as per the yAxis and xAxis. So then they could be accessed like this:
[code]

As far as I can see, right now the only way to access them is via the configure function:
[code]

This is really awkward, as it makes overriding defaults difficult.

[2015-12-18 16:13] topicus commented on #8
This should be easy to do. I'll work on this.

[2015-12-18 16:48] benzitohhh commented on #8
thanks @topicus - much appreciated

[2015-12-18 21:14] mwhite commented on #8
What would be really awesome is creating a factory for individual chart types, where propTypes is dynamically defined by inspecting the nvd3 `chart._options` object for top-level props, and all properties of an nvd3 `chart` are automatically filtered to find chart sub-components, which have an automatically defined React.PropTypes.shape prop.

[2015-12-18 21:14] mwhite commented on #8
It would also be nice to have separate react chart components for each top-level chart for readability.

[2015-12-19 16:40] topicus commented on #8
@mwhite Yes, I think that's a good architecture. I will work on that. In the meantime I'm going to push a quick fix to make folks able to configure tooltips and legends.

[2015-12-19 16:46] topicus commented on #8
@benzitohhh Now you can configure nested components in the way you proposed:
[code]

Please let me know if it worked for you.

More details baf0803d36f6d87735e2c58c36289b9f6732deee

[2015-12-21 12:36] benzitohhh commented on #8
Thanks @topicus - this works great now!

[2015-12-23 09:09] ovvn opened #9 "Use the latest nvd3 source."
The npm module was published 6 months ago. It makes sense to use the latest api in order to utilize new chart components parameters. So I think it makes sense to update 'nvd3' deps to take source from github master branch rather than npm.

[2015-12-23 23:16] topicus commented on #9
I've updated the nvd3 version to the last commit. It's the only way I've found to prevent a broken version after an nvd3 update.

Thank you for your help.

[2015-12-23 23:16] #9 closed

[2015-12-23 23:17] topicus commented on #8
Closing this.

[2015-12-23 23:17] #8 closed

[2015-12-23 23:19] topicus commented on #7
Since nvd3 needs d3 as global I don't know if there is a way to make this work. Do you have any clue?

[2015-12-24 14:51] ovvn commented on #9
It works, thank you.

[2015-12-26 10:36] mqklin commented on #7
@ttrmw @topicus
Look at this PR: https://github.com/novus/nvd3/pull/1389
I've added this lines to `nv.d3.js` file in `react-nvd3/node_modules/nvd3/build` folder:

    var d3;
    if (typeof(module) !== 'undefined' && typeof(exports) !== 'undefined' && typeof(d3) == 'undefined') {
        d3 = require('d3');
    }

It works for me, but i believe we shoudn't patch `react-nvd3` in this manner.
All th

[2015-12-26 11:51] mqklin opened #10 "configure axis"
How can I configure axis? e.g. `tickFormat` ?

[2015-12-26 12:49] mqklin commented on #10
I found solution. but it looks a bit silly xD

    import NVD3Chart from "react-nvd3";
    import d3 from "d3";
    ...
    return <NVD3Chart options={{yAxis: {tickFormat: d3.format(',f')}}}/>

[2015-12-26 12:49] #10 closed

[2015-12-28 07:19] mqklin commented on #8
@topicus, how can I configure legend margin without `configure` prop?
Now I do this: `<NVD3Chart  configure={chart => chart.legend.margin({bottom: 50})}/>`
But I want something like this: `<NVD3Chart legend={margin({bottom: 50})}/>` but it's not working.

[2015-12-30 04:35] mqklin opened #11 "showControls doesn't work dynamically"
I have this component:

    class CommonChart extends React.Component {
      constructor(options) {
        super(options);
        this.state = {show: false};
      }
      onClick = () => {
        this.setState({show: !this.state.show});
      }
      render() {
        return (
          <div>
            <button onClick={this.onClick}>change state</button>
            <span>Show: {""+this.st

[2015-12-30 19:37] topicus commented on #11
I have been out of pocket thia week. Today I am going to take a look at this. Thank you for your help.

[2015-12-30 22:24] topicus commented on #11
Seems to be an NVD3 issue:
- Using showControls directly and calling the update method doesn't change the controls visibility.
- Using options({showControls: !chart.showControls()}) produce the same behavior you were found in react-nvd3
- Legend component seems to be working in a similar way
- Other parameters works fine

[2016-01-08 15:29] benzitohhh opened #16 "Class static property fields require a semi-colon"
Please see pull request https://github.com/NuCivic/react-nvd3/pull/13

Thanks!

[2016-01-08 15:30] benzitohhh opened #17 "Add babel-runtime dependency"
Please see pull request https://github.com/NuCivic/react-nvd3/pull/14

Thanks!

[2016-01-08 15:30] benzitohhh opened #18 "Expose container style (necessary for IE support)"
Please see pull request #15

Thanks!

[2016-01-12 01:32] topicus commented on #18
Merged. Thanks!

[2016-01-12 01:32] #18 closed

[2016-01-12 01:32] topicus commented on #16
Merged. Thanks!

[2016-01-12 01:32] #16 closed

[2016-01-12 01:32] topicus commented on #17
Merged!

[2016-01-12 01:32] #17 closed

[2016-01-17 13:07] benzitohhh commented on #17
@topicus - thanks!

[2016-01-17 13:07] benzitohhh commented on #16
@topicus thanks!

[2016-01-17 13:08] benzitohhh commented on #18
@topicus thanks again!

[2016-01-19 19:42] SylarRuby commented on #7
This needs fixing

[2016-01-20 15:41] topicus commented on #7
@SylarRuby I've been pretty slammed the past weeks. I'm going to be able to take a look at this by the end of this week. Any PR is welcome.

[2016-01-21 03:57] topicus commented on #7
@ttrmw @SylarRuby I did some discovery about this and it seems like using the @mqklin nvd3 patch worked. We need to wait until nvd3 folks merge this PR novus/nvd3#1389

After that merge you'll able to do:

[code]

In this way you won't need to load d3 separately.

[2016-01-25 01:55] topicus commented on #7
@ttrmw @SylarRuby it seems like this is already fixed in the nvd3 library. Please check that.

[2016-01-25 09:46] mqklin commented on #11
https://github.com/novus/nvd3/pull/1436

[2016-01-25 09:46] #11 closed

[2016-01-26 03:33] mqklin commented on #7
@topicus https://github.com/NuCivic/react-nvd3/pull/19

[2016-01-27 17:33] royyeah opened #20 "Setting up react-nvd3"
Hi guys,

Sounds like a great library with all the functionality for React in combination with NVD3 I need, but can not manage to set it up and get it working.

Can you help me?
https://jsfiddle.net/x2wuko8g/2/
http://stackoverflow.com/questions/35042621/setting-up-react-in-combination-with-nvd3

Thanks in advance - much appreciated!

Roy

[2016-01-27 18:16] topicus commented on #20
@royyeah Check my answer in stackoverflow and let me know if that works for you.

[2016-01-27 18:19] topicus commented on #7
@mqklin This seems to be already addressed by the nvd3 folks. Closing this.

https://github.com/novus/nvd3/issues/1404

[2016-01-27 18:19] #7 closed

[2016-01-28 07:44] royyeah commented on #20
Ha - thought the x and y properties were for the axis labels. Thanks a lot, saved me a lot of work.

[2016-01-28 07:44] #20 closed

[2016-02-01 21:41] paothegit opened #21 "slices get broken in pieChart"
I use filters to update pieChart and slices get broken from time to time. Not sure this is related to nvd3 itself.

I created a dedicated [jsfiddle](https://jsfiddle.net/qkcmcdaw/) to reproduce the issue. When I click "Change Data" button quickly, then slices get broken.

@topicus I'll appreciate if you take a look at this issue and help me with a workaround when you get a chance. Thanks!

[2016-02-01 23:11] paothegit commented on #21
@topicus
More exactly, this occurs when the count of slices reduces (like from 3 to 2).

[2016-02-02 01:22] paothegit commented on #21
It seems like nvd3 is okay. Please check my snippet - [jsfiddle](https://jsfiddle.net/69ta5p93/)

[2016-02-02 14:05] topicus commented on #21
@paothegit I'll take a look.

[2016-02-02 14:17] paothegit commented on #21
@topicus Thanks,  look forward to it!

[2016-02-03 10:51] mqklin opened #22 "update npm package"
`package.json` in npm package doesn't contain last `nvd3` version, still `github:novus/nvd3#5992b889c6ce8e108d42b73c6382c8863980e34a`. @topicus , can you update it, please?

[2016-02-03 14:26] topicus commented on #21
I'll need to implement this to fix this bug https://facebook.github.io/react/docs/animation.html

[2016-02-03 14:52] paothegit commented on #21
@topicus
Thanks for your quick checking.
Will you please let me know this is included in a long-term roadmap or could be a instant fix?

[2016-02-03 14:54] topicus commented on #21
I'll implement this in a short term. It isn't an instant fix but shouldn't be a big change.

[2016-02-03 14:55] paothegit commented on #21
Great to hear!

[2016-02-10 17:01] kylejaster commented on #21
any update on this? would a PR be helpful?

[2016-02-11 01:18] topicus commented on #21
I have been pretty busy in the past weeks and I couldn't fix that. @kylejaster If you can create a PR I will review and merge it. If not I will try to fix this on this weekend.

[2016-02-11 18:23] stephanbochet opened #23 "IE 11 Compatibility"
I am trying to use the react-nvd3 charts in IE 11 but I am getting the error: Object doesn't support property or method 'startsWith'.

Is there a work around for this or does this component does not plan to support IE?

[2016-02-12 14:54] topicus commented on #23
This is pretty straight forward to fix. I'll take a look today. In the meantime you could add this polyfill before you load the react-nvd3 library https://github.com/mathiasbynens/String.prototype.startsWith

[2016-02-12 15:23] stephanbochet commented on #23
Thanks for the suggestion.

[2016-02-17 17:10] topicus commented on #21
Still woking in this. It's not as easy as I thought.

[2016-02-17 17:18] paothegit commented on #21
@topicus
Thank you very much for posting an update, I expect a well-functioning fix(improvement).

[2016-02-19 02:50] topicus commented on #23
@stephanbochet This should be fixed in master now. Please check it. I will publish a new version soon.

[2016-02-19 02:51] topicus commented on #5
Closing this due to inactivity.

[2016-02-19 02:51] #5 closed

[2016-02-19 02:51] topicus commented on #22
I'll update as soon as I figure out https://github.com/NuCivic/react-nvd3/issues/21

[2016-02-19 04:26] topicus commented on #22
@mqklin Should be updated now. Please check this.

[2016-02-19 04:29] topicus commented on #21
@paothegit @kylejaster Should be working now. There was tricky because pie charts doesn't dispatch renderEnd events from the chart itself but from an internal component called pie. So far, that's the only chart I've found that isn't dispatching from the chart itself.

[2016-02-19 15:58] kylejaster commented on #21
thanks @topicus - sorry i never got around to this - we'll incorporate.

[2016-02-19 16:57] mqklin commented on #22
I'll check at the weekend

[2016-02-19 23:49] paothegit commented on #21
Thanks for your hack! @topicus

I confirm that it's working seamlessly [here](https://jsfiddle.net/qkcmcdaw/2/)

[2016-02-19 23:58] topicus commented on #21
Awesome, closing this then.

[2016-02-19 23:58] #21 closed

[2016-02-20 02:45] stephanbochet opened #24 "How do I manage onClick events?"
I am attempting to implement onClick events on react-nvd3 components. Is there a way I can use onClick events on an component react-nvd3?

[2016-02-23 14:19] topicus commented on #24
@stephanbochet I have to check this. Could you provide an example about what you're trying to do?

[2016-02-24 00:11] tarunc opened #28 "ERROR in v0.5.0+ nvd3 multiChart.dispatch does not have renderEnd"
`d3.dispatcher` complains because react-nvd3 (in v0.5.0+) uses the `.dispatch` property to detect the  `'renderEnd'` event on nvd3 chart models. However, several nvd3 charts do not feature the `'renderEnd'` event.

I found 2 charts:
multiChart: https://github.com/novus/nvd3/blob/master/src/models/multiChart.js#L51
linePlusBarChart: https://github.com/novus/nvd3/blob/master/src/models/linePlusBarCh

[2016-02-24 01:26] topicus commented on #28
@tarunc working to fix this.

[2016-02-24 01:46] topicus commented on #28
@tarunc Should be fixed now. Update to 0.5.2.

[2016-02-24 01:47] topicus commented on #28
BTW thank you for reporting this.

[2016-02-24 01:53] tarunc commented on #28
@topicus Works like a charm! Thanks for fixing the issue quickly!

[2016-02-24 01:53] #28 closed

[2016-02-29 17:17] stephanbochet commented on #24
I managed to temporarily solve the issue by using jQuery to get the series, name and value of the element clicked on a chart.

    componentDidUpdate: function() {
        $(".nv-chart").mouseup(function (e) {
            console.log(e.toElement["__data__"]);
        });
    }

[2016-04-05 19:14] ccastarivale opened #32 "Update npm version with latest"
Looks like [this latest commit](https://github.com/NuCivic/react-nvd3/commit/1e6f3eea7f7322b3e103b493c598d187e27134b6) hasn't made it into npm. Would you update it?

[2016-04-05 20:36] topicus commented on #32
@ccastarivale  Thanks for you noticing that. I'll update ASAP.

[2016-04-06 20:09] billderose opened #33 "Invalid semver version when bower installing"
Running `bower install react-nvd3 -save` throws the error: `bower error Invalid Version: 0.5.0.1`. Looks like the bower reference should be updated to master (`0.5.0.3`) and it should also be changed to a valid semver version.

[2016-04-07 14:10] topicus commented on #33
Thanks for reporting this @billderose. Should be working now.

[2016-04-07 14:11] topicus commented on #32
@ccastarivale I've just updated the npm version.

[2016-04-10 07:55] mqklin commented on #22
Sorry, I couldn't check it, because I fired.
I see that now the version is 1.8.2

[2016-04-10 07:55] #22 closed

[2016-04-11 18:45] jharris4 opened #35 "Support for React v15"
It'd be nice if react-nvd3 was updated to support React v.15.

Should be as simple as changing the version package.json as there were no deprecation warnings with v0.0.14

[2016-04-11 19:53] topicus commented on #35
@jharris4 Thanks for reporting that. I just merged a PR from @nozaq which fix that. Please review and let me know if you have any other issue.

[2016-04-12 11:59] jharris4 commented on #35
Looks good to me, can you release a new version?

[2016-04-12 23:13] topicus commented on #35
@jharris4 Sorry I forgot to publish it. It's done. Please try again.

[2016-04-13 22:06] stkrzysiak opened #36 "I believe React should be in peerDependencies"
Hi,
First, thank your for putting this module together, it looks very promising.  I was hoping to test it out this evening and ran into a error like this:
`Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: h

[2016-04-14 15:40] topicus commented on #36
@stkrzysiak Thanks for note this. It should be fixed now. Please update to 0.5.6 and let me know if it's working for you.

[2016-04-15 19:17] stkrzysiak commented on #36
Looks like it's working fine, thanks.

[2016-04-15 19:17] #36 closed

[2016-04-20 12:44] stephanbochet opened #37 "IndentedTree Error: Uncaught TypeError: _nvd2.default.models[this.props.type] is not a function"
When I try to use the indentedTree chart it generates the following error:
`Uncaught TypeError: _nvd2.default.models[this.props.type] is not a function`

I am using the same example for indented tree from [nvd3.org](http://nvd3.org/examples/indentedtree.html)

Bellow is the code i am using, am I missing something?

[code]

[2016-04-20 13:46] topicus commented on #37
It seems like a legit bug. I'll take a look.

[2016-04-24 00:46] topicus commented on #37
@stephanbochet It was removed by the nvd3 maintainers. See https://github.com/novus/nvd3/issues/904

[2016-04-28 18:38] tao-findly opened #38 "pieChart example is not working"
Hi,

I just clone the v0.5.7 source code and run the charts examples. When I was running the pieChart example in Chrome, I got follow error in the console and the chart not render properly:

d3.min.js:1 Error: Invalid value for <g> attribute transform="translate(NaN,NaN)"

Other charts examples work fine.

Is this a bug for the pieChart?

Cheers,

[2016-05-22 20:41] jscheid opened #39 "Ability to pass key function"
Hi, thanks for this great little project, works really well!

I'd like to use a key function in order to achieve [object constancy](https://bost.ocks.org/mike/constancy/). I don't see a way to do this with react-nvd3, is there a workaround? I think basically react-nvd3 would need to call `data` instead of `datum` and allow passing a second argument.

[2016-05-24 21:14] topicus commented on #39
@jscheid I'm not 100% sure what are you trying to achieve but I don't think you need to worry about that with nvd3 since when you change the data automatically figure out how to preserve and animate elements. If you change the datum array it just works.

However if it's not working for you, could provide me a code example? It could help me to figure out what's happening.

[2016-06-01 09:17] jscheid commented on #39
Hi @topicus, sorry for the tardy reply. My problem is not that I need nvd3 to preserve the elements, rather it's that I want to control the color of elements regardless of their order. For example, say sometimes the graph renders with elements A, B, C but sometimes A is missing and only B and C are rendered. I would then like B and C have the same colors (i.e. skip the color for A).

I've found a

[2016-06-02 14:03] jscheid commented on #39
I have a good solution now, which is to set colors directly in the data. I don't know why I didn't see this option earlier, it's the most straightforward one. Sorry for the noise, I'm closing this.

[2016-06-02 14:03] #39 closed

[2016-06-02 16:24] jscheid opened #40 "Chart refresh issues"
Hi, could you take a look here: https://jsfiddle.net/julians37/0jhhwm0c/

Mouse over the items in the scatter plot and you should see that everything works fine. Now press the button and try again. You should see that the horizontal and vertical lines are not cleaned up properly.

I've tried debugging this and had some success when clearing out the svg element when the chart is re-instantiated, li

[2016-06-02 20:58] topicus commented on #39
@jscheid  Good solution! Sorry I didn't answer, I've been pretty slammed this week.

[2016-06-03 15:30] topicus commented on #40
@jscheid Seems like a legit bug. I'll try to fix it during this weekend.

Rendering is a flag to check if chart finished animation that allows to remove the chart even when chart is in the middle of an animation.

In other words, if this.chart is undefined because the chart were not created yet or the chart is in the middle of an animation. If any of those conditions happen then we should clean th

[2016-06-05 11:30] jscheid commented on #40
Thanks for the explanation, makes more sense now.

[2016-06-05 11:30] jscheid opened #41 "Tooltip lingers"
Hi, not sure if this is related to #40 but have a look here: https://jsfiddle.net/julians37/uazsgvya/

Mouse over an item so that the tooltip is shown, then click.

This causes the chart to be unmounted, yet the tooltip is still visible.

[2016-06-07 17:24] topicus commented on #41
It seems like the renderEnd method is never triggered in the scatterChart. Probably a nvd3 issue. Still working in this.

[2016-06-20 07:41] eversadia opened #42 "Customize tooltip header"
Hi,
Is there an option to customize the tooltip header value. Right now the x axis is rendering time, and the tooltip header is showing the x axis value. What i want is to append the the Y-M-D before the original tooltip header. Is that possible

[2016-06-20 14:57] topicus commented on #42
@eversadia I didn't tried it but this should work:
[code]

Let me know if this approach works for you.

[2016-06-21 00:09] eversadia commented on #42
Hi,
function custom_template_function(obj){
return <h3>{obj.label}</h3>
}

<NVD3Chart type="lineChart"  tooltip={{contentGenerator: custom_template_function}} ... />

Its not working.. I'm using a lineChart.
Thanks.

[2016-06-21 08:50] eversadia commented on #42
Already got it, I use configure props

[2016-06-21 08:50] #42 closed

[2016-06-23 22:13] IncubatedChun commented on #42
@eversadia  could you give me some details how to do this? I have the same problem now.

[2016-07-04 02:26] eversadia commented on #42
@IncubatedChun

Here is the examples, just disregard the other part... look for the configure.

`let  datas = {
        type: 'lineChart',
        datum: collection,
        xAxis: {
          tickFormat: function ( d ) {
            if( xFormat == 'hour' )
              return d3.time.format( '%H:%M' )( new Date( d ) )
            else if( xFormat == 'dayhour' )
              return d3.time.forma

[2016-07-06 06:50] topicus commented on #38
@tao-findly Sorry about the delay and thanks for notice that. It should be fixed in the master branch.

[2016-07-06 06:50] topicus commented on #38
Closing this, reopen if the bug persists.

[2016-07-06 06:50] #38 closed

[2016-07-06 06:52] topicus commented on #37
This library is intended to be a wrapper of nvd3 and since nvd3 doesn't support this anymore I don't plan to add this a separate module. Closing this.

[2016-07-06 06:52] #37 closed

[2016-07-18 15:58] hexatonics opened #44 "Quickstart renders only blank pages: ReferenceError: React is not defined"
Followed quickstart procedure from bottom README file.  Tested on OS X 10.10.5 in Chrome, Safari, and Firefox.  All examples show up as blank.

JS Error is:

`TypeError: _react2.default is undefined
<anonymous>
 react-nvd3.js:287
__webpack_require__()
 react-nvd3.js:30
<anonymous>
 react-nvd3.js:50
<anonymous>
 react-nvd3.js:11
webpackUniversalModuleDefinition()
 react-nvd3.js:9
<anonymous>
 react

[2016-07-18 19:58] topicus commented on #44
Thank you for reporting this. WIP.

[2016-07-18 20:13] topicus commented on #44
@hexatonics I just updated the quick start code. You can take a look at changes here https://github.com/NuCivic/react-nvd3/commit/867c7e1a6c0148a91f01753a5ea01901b727bb90

Please reopen if this didn't work for you.

[2016-07-18 20:13] #44 closed

[2016-07-20 23:14] satstanford opened #45 "How do I change the scale of my axes?"
I am trying to plot a simple line chart displaying average temperatures in different states. The lowest value in my data is 0.3 degrees Celsius, but I would like my y axis to start from the value 0. How do I change the scale of my y Axis to extend beyond the minimum and maximum y values in my data set?

[2016-07-21 10:10] RamonGebben opened #46 "stackedAreaChart example."
I have some trouble figuring out how to use the stackedAreaChart.
Could you provide an example for this as well?

[2016-07-22 16:39] topicus commented on #46
@RamonGebben I've added an example. You can take a look at it here https://github.com/NuCivic/react-nvd3/blob/master/examples/stackedAreaChart/index.js#L1

[2016-07-22 16:39] #46 closed

[2016-07-22 16:44] topicus commented on #45
@satstanford You can take a look at the line chart example https://github.com/NuCivic/react-nvd3/blob/master/examples/lineChart/index.js#L47. Let me know if this helps.

[2016-07-22 16:45] #35 closed

[2016-07-22 16:45] #32 closed

[2016-08-01 18:55] UkiMiawz opened #47 "Example for Bullet Chart"
Hi, I tried to render bullet chart but its not showing.
My data

[code]

and my component render

[code]

Did I pass the wrong dataset?

Thank you for your help

[2016-08-01 19:16] topicus commented on #47
I'll take a look. Seems like a bug.

[2016-08-03 21:07] UkiMiawz commented on #47
Hi,
I managed to find my problem, its like what I suspect, I gave the chart the wrong dataset.
I'm sorry for the trouble

My final dataset
[code]

[2016-08-03 21:08] #47 closed

[2016-08-03 21:36] topicus commented on #47
Awesome, let me know if you have any other issue.

[2016-08-25 02:53] charleslxh opened #48 "xTickValues is not work!"
I need to reduce the x tick values, because they will overlay each other if too many, so I want to use xTickValues, but it not work.

[2016-08-25 14:29] topicus commented on #48
@charleslxh You should do something like this:  `xAxis={{ tickValues: [2001,2002,2003}} `.

A component example:

[code]

I didn't tested it but it should work.

[2016-09-01 10:16] pihlajus opened #49 "Line chart data points are partly hidden under axis"
I have created line chart but for some reason data points close to axis are partly hidden under the axis (see screenshot). Could this be prevented e.g. using css or some property?

![partly hidden data point](https://cloud.githubusercontent.com/assets/11556655/18163888/d381e806-7045-11e6-9179-8d51933acfac.png)

[2016-09-01 11:13] acasaccia opened #50 "Bullet chart transitions not working"
Bullet chart transitions seem to be not working https://jsfiddle.net/acasaccia/69z2wepo/54773/.
The bar chart in the fiddle animates correctly while the bullet chart doesn't.

The d3 implementation should support animation as can be seen on https://bl.ocks.org/mbostock/4061961

I'd be glad to contribute a fix for this. Is this a known probem? Any ideas of where to start from?

[2016-09-01 13:25] starsinmypockets opened #51 "Add responsive width / aspectRatio to dynamically generate height settings"
We could use:
`chart.props.aspectRatio: .75`
In render we could calculate:
`settings.height = componentWidth * props.aspectRation`
and pass to nvd3 chart for responsive sizing.

Sorry about the psuedocode... I'll try to submit a pull request for this if I have time.

[2016-09-01 16:12] acasaccia commented on #50
Looks like the bulletChart nvd3 implementation has some problems.

In /nvd3/examples/bulletChart.html the animations for ranges, measures and markers are not working even though in the scale is animated.

I'll make my way through nvd3  and eventually reopen this if a fix is needed.

[2016-09-01 16:12] #50 closed

[2016-09-02 15:13] topicus commented on #50
@acasaccia Thank you very much for reporting that. Keep me posted about this nvd3 issue.

[2016-09-02 15:51] acasaccia commented on #50
I made this pull request that implements transitions https://github.com/novus/nvd3/pull/1802. Unfortunately a couple of tests are broken because of the animations. Not sure if and when I'll have time to investigate how to fix them.

[2016-09-02 15:58] acasaccia commented on #50
@topicus also I forgot to mention that I tried react-nvd3 with my fix on the nvd3 repo and it works perfectly. So I confirm it's definetely not a react-nvd3 issue!

[2016-09-03 12:51] SubhuMS opened #52 "Linechart"
How to add labels and markers for points in the LineChart.

[2016-09-03 20:16] topicus commented on #49
@pihlajus you can try with clipEdge:

[code]

Let me know if this helps you.

[2016-09-03 20:19] topicus commented on #52
@SubhuMS No sure what you mean with labels and markers. Could you provide more information about what are you trying to do?

[2016-09-03 20:19] topicus commented on #48
@charleslxh Can I close this?

[2016-09-03 20:20] topicus commented on #45
@satstanford Did it work for you?

[2016-09-05 04:59] pihlajus commented on #49
Thanks, but unfortunately this didn't bring any help.

[2016-09-05 21:50] topicus commented on #49
@pihlajus Could you pass me an example of your code?

[2016-09-06 04:39] SubhuMS commented on #52
Hi @topicus ,  i tried to dispalay a line chart as attached here, is there any option to display the label for each plot in the line chart?
![linechart](https://cloud.githubusercontent.com/assets/17092786/18261841/e612ca26-7419-11e6-8900-778a6c45d58f.jpg)

[2016-09-06 06:34] pihlajus commented on #49
Sure @topicus, this is the rendering part:

`         <NVD3Chart
            xAxis={{
              tickFormat: function(d){
               return timeFormat('%Y-%m-%d')(new Date(d))
            }}}
            yAxis={{
               tickFormat: function(d){
               return parseInt(d)
            }}}
            width={640}
            height={350}
            type="lineChart"

[2016-09-13 15:12] topicus commented on #52
@SubhuMS Sadly NVD3 doesn't provide such feature. However you can play with the renderEnd callback and some d3 manipulation to achieve the desired result.

[2016-09-14 06:52] SubhuMS commented on #52
@topicus  thanks topicus, i tried adding text tags once the Linechart rendered in Dom. It worked out :)

[2016-09-14 06:52] #52 closed

[2016-10-06 18:13] jayflaherty75 opened #55 "Not firing renderEnd on lineChart"
Issue encountered on Chrome and Firefox using d3 v3.5.17, nvd3 v1.8.4, and react v15.3.2.  Ready and renderStart events fire normally.  RenderEnd simply never fires.

[2016-10-11 14:23] topicus commented on #55
@jayflaherty75 NVD3 render_end event is not consistent across charts. I need to find some time to create a PR against nvd3 repository.

[2016-10-12 14:54] jayflaherty75 commented on #55
If you can give me some specifics on what needs to happen in NVD3 to get renderEnd() to fire, I may be able to help.

Thanks,
Jason

[2016-11-20 16:14] peterporfy commented on #48
I just tested and it works like that.

[2016-12-05 15:56] Sharpounet commented on #55
Same here, i would like to know if there is a fix to know when the render is completed.

[2016-12-05 19:52] topicus commented on #55
@Sharpounet @jayflaherty75 Sorry it's been awhile, I've been pulled in another project. I will take a look today and try to provide a solution.

[2016-12-06 11:01] Sharpounet commented on #55
Thanks a lot @topicus
I will take a look as well

[2016-12-06 19:19] bcloutier opened #57 "Broken legend in stackedAreaChart"
When I set 'useInteractiveGuideline' to true and click on the chart, the legend that follows the mouse around freezes.

![screen shot 2016-12-06 at 2 16 38 pm](https://cloud.githubusercontent.com/assets/1903251/20939921/c98571a0-bbbe-11e6-843f-77a286b2e3d4.png)

nvd3 was updated to version 1.8.5 recently and I think that might be the cause

[2016-12-13 14:00] james-cordeiro commented on #55
@topicus - Any progress on this in the last 7 days? I need renderEnd to fire for LinePlusBarChart - otherwise I could take a look and provide PR if you wish..

[2016-12-13 14:28] james-cordeiro commented on #55
@topicus PR created as a merge commit - my fix enables at least linePlusBarChart to fire the renderEnd event.

[2016-12-16 18:27] topicus commented on #57
Thanks for reporting this. I'll take a look. PRs are welcomed.

[2016-12-21 15:30] Sharpounet commented on #55
It's ok for linePlusBarChart but the problem still exists for lineChart.
I'm wondering if the problem is to call the dispatch on "dispatcher = this.chart.lines.dispatch;" and not "dispatcher = this.chart.dispatch;"... I'm a bit lost.

[2016-12-30 05:55] grantga commented on #41
Any update on this issue--it seems to still be present in the scatter chart in the latest release. Any ideas on a workaround?

[2017-01-02 04:11] Sivart-me opened #59 "Changing chart type is broken"
I'm trying to implement the ability for the user to choose between alternative chart types, whilst using the same underlying data. However when the chart changes type it is rendered overlaid on the original chart as seen in this screenshot:

![overlaidcharts](https://cloud.githubusercontent.com/assets/24869574/21584466/54d81e70-d0f9-11e6-8c1a-a1328c745450.png)

For the purpose of demonstrating the

[2017-01-13 10:42] atais opened #60 "Fix given examples"
Hello,

After installing the module I thought I could use some examples to help me in the beginning. I would be really glad if there were available online, but downloading the project is good enough.

However, I have found most of them do not work as they should. Below I present you a list of my suggestions and/or problems I have faced:

- [ ] examples available online(?)
- [ ] or make examples se

[2017-01-13 13:07] atais opened #61 "Tooltip legened displayed separately for every series"
**Plunker:** https://plnkr.co/edit/2UT2UO

**Description:**
Hovering over the series should show a tooltip with values in given point. It does, but values are shown only for single series. Moving cursor up or down a little shows the other series.

**Expected:**
Tooltip should present all data in the given point at one time (screen from angular app):
![screenshot_2017-01-13_14-05-57](https://cloud.

[2017-01-13 15:09] starsinmypockets commented on #59
I'm guessing that if you are re-rendering the chart as a different type, then you need to unmount the old chart first:

http://stackoverflow.com/questions/21662153/unmounting-react-js-node

[2017-01-13 20:43] Sivart-me commented on #59
Ok I'll try this when I get a chance and post back my findings.

[2017-01-13 23:11] grantga commented on #41
Looks like this is a problem of renderEnd not getting called for some chart types in more recent nvd3 releases:
https://github.com/novus/nvd3/issues/1720

Downgrading to nvd3@1.8.1 seemed to fix the renderEnd issue.

[2017-01-16 15:41] topicus commented on #41
@grantga @jscheid Sorry I've been out of pocket this weeks. I've tried to fix it but as you pointed out that's an issue in the nvd3 library. Render end event it's not consistent across chart models. Sometimes you need to subscribe to the child component (line, pie, etc.) and sometimes to the parent (lineChart, pieChart, etc.) and sometimes neither of them works.

[2017-01-16 15:51] jscheid commented on #41
Fair enough, thanks for the update. I'd rather not downgrade but I'll see if I can have a go at fixing the upstream issue one of these days.

[2017-01-16 16:06] atais commented on #61
I was missing `useInteractiveGuideline={true}` :disappointed:

works OK with fix:
[code]

[2017-01-16 16:06] #61 closed

[2017-01-16 16:10] topicus commented on #61
@atais Awesome, I'll work on fixing the examples you pointed out in #60

[2017-01-16 16:29] atais opened #62 "Read all nvd3 settings from (one) common variable?"
Hi.

I am coming to React from Angular world and I have been using nvd3/d3 wrappers for Angular as well. Main nvd3 wrapper can be found here: https://github.com/krispo/angular-nvd3

I think it is a good idea to get the best of out of others' ideas and one think I have particularly liked about angular-nvd3 solution was that one could pass all nvd3 settings rooted in one variable.

Currently, in rea

[2017-01-16 16:30] atais commented on #60
I might have some spare time and I could adapt some examples to plunker versions.
Could you clarify the questions so I would know what to work with?

[2017-01-17 19:49] topicus commented on #62
@atais Yes, will do. It's really to change.

[2017-01-19 15:43] fufas opened #63 "Multi level grouping of axis labels"
Hi!
It would be awesome to be able to configure multi level grouping of axis. Please see the example.
I guess it isn't possible at the moments, is it?

[http://stackoverflow.com/questions/10778573/multi-level-grouping-of-axis-labels-using-d3](url)

[2017-01-19 15:55] fufas opened #64 "Linechart viewfinder uses wrong colors if some series are disabled"
Let's say you have a line chart with a view finder (focus). You specify colors ['red','green','blue','orange'].
Your 4 data series draws fine, then you click on the 'blue' one in the legend. So it disappears from the chart, but the blue color is still being used in the view finder (orange - the last one - isn't). So at that moment view finder  colors don't match the chart colors.

[2017-02-06 23:36] swapnasavant opened #65 "Synchronizing tooltip for all charts on same page"
Hi,

I have an application where I have 3 charts on same page. (line charts). I need to show tooltip for all 3 charts when I hover mouse over any one of them.

Is there any way to synchronize or link tooltips for multiple charts on same page? (based on X-coordinate).

[2017-02-14 05:17] ajaybc opened #66 "Sankey Chart Cannot read property 'renderEnd' of undefined"
I am getting the following errors when I try to use Sankey Chart

    at e.value (react-nvd3.min.js:1)
    at e.value (react-nvd3.min.js:1)
    at measureLifeCyclePerf (ReactCompositeComponent.js:75)
    at ReactCompositeComponent.js:729
    at CallbackQueue.notifyAll (CallbackQueue.js:76)
    at ReactReconcileTransaction.close (ReactReconcileTransaction.js:80)
    at ReactReconcileTransaction.clo

[2017-02-15 19:06] topicus commented on #66
I think it's because it doesn't exists at the moment react-nvd3 was created. I will take a look but PRs are welcomed.

[2017-02-15 19:08] topicus commented on #64
Seems like a legit bug. Probably the view finder axis it's not being updated. I'll take a look.

[2017-02-15 19:09] topicus commented on #63
I think NVD3 doesn't supports that at this moment.

[2017-02-15 19:10] topicus commented on #62
@atais If I'm not wrong there is a configureChart variable you can use. Let me know if that helps.

[2017-03-10 06:18] ajaybc opened #67 "How do I call functions with multiple parameters ?"
I need to use the xAxis.ticks function which accepts 2 parameters eg. `.ticks(d3.time.weeks, 2)`. If it was just 1 parameter I could do I what I did with tick format below.
 `<...... xAxis={{tickFormat : function (d) {
                            return d3.time.format('%Y-%m-%d %H:%M')(new Date(d))
                        }}} ../>`

How do I call multiparameter functions using react-nvd3 ?

[2017-03-10 16:14] topicus commented on #67
@ajaybc You can use a closure:
[code]

[2017-03-10 16:17] ajaybc commented on #67
@topicus Thanks for the reply. But I was asking how to use `.ticks(d3.time.weeks, 2)` because that function expects 2 parameters. Sorry if the question seemed confusing

[2017-03-10 16:29] topicus commented on #67
@ajaybc I think it doesn't work as d3.
Tick function it's not inherited from d3 but used inside nvd3 as you can see in the link https://github.com/novus/nvd3/blob/master/src/models/axis.js#L52

You might play with tickValues and tickFormat to achieve the same result.

[2017-03-14 12:58] verdan commented on #38
@topicus I'm still seeing the error
[code]

[2017-03-14 13:13] topicus commented on #38
@verdan Try using master branch. I want to fix other issues before publish to npm.

[2017-03-14 13:28] verdan commented on #38
@topicus still same issue. I've doubled check that I have your recent commit that you did in the example and yes, I have the latest master branch.
[code]

[2017-03-14 13:33] verdan commented on #38
here is my code.
[code]

[2017-03-14 14:21] topicus commented on #38
@verdan Just to clarify, Is the pieChart example (inside the example folder) not working?

To check why your code is not working I need the datum example (a sample if it's big).

Remember label and value should be keys inside each object of the datum list. I.e:

[code]

[2017-04-09 00:05] dkinzer opened #68 "Nomenclature is a bit ambiguous."
I find the use of the words `context`, and `datum` ambiguous.

Javascript already uses `context` as a defined idea to mean the value of whatever `this` points to.  When I hear `context` I immediately think of `this`.  Other libraries will sometimes also use the term context, but usually in a similar fashion as to how it's used to refer to `this`.

I think a more descriptive term would be something

[2017-04-09 13:53] dkinzer opened #69 "npm WARN react-nvd3@0.5.7 requires a peer of react@>=0.14.0"
I'm getting the following dependency error when I follow install instructions:

[code]

[2017-04-09 14:57] dkinzer commented on #69
works if I use `npm install --save react@>=0.14.0 react-dom@>=0.14.0` specifically.

[2017-04-09 14:57] #69 closed

[2017-04-15 11:50] #68 closed

[2017-06-14 01:02] allenlee94 opened #76 "Grid Lines"
I'm having an issue with getting grid lines to appear using the x and y Axis props for NVD3Chart. Is it possible to get an example. Features such as tickFormat seems supported but I can't really seem to get grid lines in. Thanks!

[2017-06-14 17:25] #76 closed

[2017-06-18 11:08] kkastrad opened #77 "Multi-Bar Chart Not Showing Zero Values"
Hi there

I have a simple csv file (with some zero values) that I want to visualise it using a multibar chart. The problem is that the x-axis labels of the corresponding zero values are not displayed at all. Is there any way that I could display these labels?

Here is an example of the csv file. In this example, SPECIES is in the X-AXIS and while SERIES 1 and SERIES 2 are the legend entries. Based

[2017-06-18 14:29] kkastrad commented on #77
My apologies, this is an issue that I face with a DKAN installation so I will close it here and re-open it in the proper repository

[2017-06-18 14:29] #77 closed

[2017-07-18 20:15] rileyrenn6 opened #78 "Chart titles"
Is there not a "title" attribute to add a title to the overall chart?

[2017-08-04 14:48] topicus commented on #78
@rileyrenn6 There is no title but you can achieve the same by creating a wrapper component:

[code]

[2017-08-16 14:15] grahambryan opened #79 "tooltip "confused" about location after legend toggle"
Hello, I am currently working with the Line graph example.

Problem:
Tooltip behaves correctly at start
![screen shot 2017-08-16 at 9 10 10 am](https://user-images.githubusercontent.com/29125497/29367648-3b4b64be-8263-11e7-82ce-690c60103bbf.png)

Then once I toggle the legends and turn them both back on, this happens

![screen shot 2017-08-16 at 9 09 40 am](https://user-images.githubusercontent.co

[2017-08-17 20:49] topicus commented on #79
This is a weird one. I will need to take a look.

[2017-09-06 15:02] grahambryan commented on #79
Any updates on this?

[2017-09-26 20:17] amaschas opened #80 "Can't custom configure charge with "configure" prop."
I think the problem may be on ln87 of index.js: `!this.props.configure || this.props.configure(this.chart);`. Seems like that `!` might be screwing things up?

[2017-11-08 10:37] Pravin-Parkhi opened #81 "How to capture clickevent on stacked area chart"
Hi,

I am using stacked area chart in my project. I am trying to capture the click event in the area of stack area chart.
Ex. Suppose I have 4 areas in my stacked area chart (e.g. area-1, area-2, area-3, area-4) so whenever I click on the any of the areas I should the get that area name or any event.

I have gone through [issue24](https://github.com/NuCivic/react-nvd3/issues/24) and some of the li

[2017-11-13 18:48] Pravin-Parkhi commented on #81
I have managed to get the click event when the user clicks on area of the chart something like below:
` clickHandler(e) {
  console.log(e) // I got the area of the chart on which I clicked.
}

render() {
  let chartInstance = {
      type: 'stackedAreaChart',
      datum: this.state.chartData,
      xAxis: {
        ticks: this.getXaxisLabelLimit(),
        tickFormat: this.getXaxisLabel.bind(this

[2017-11-13 18:48] #81 closed

[2017-12-05 15:41] grahambryan commented on #79
ended up being a render issue on my end.

[2017-12-05 15:41] #79 closed

[2017-12-05 15:42] grahambryan opened #82 "Can there be a focus element for the y axis?"

[2017-12-21 19:31] NLSVTN opened #83 "NVD3Chart not rendering"
It seems that there is an issue with NVD3Chart rendering, please see:
https://stackoverflow.com/questions/47916832/data-is-not-passed-to-the-nvd3chart

[2018-01-16 08:22] LudovicRiiotLabs opened #84 "Lines exceed min/max of the graph"
Hi everyone,

I've a problem with lines of my graph. I don't undersand why they exceed on top and bottom.
For exemple, the highest line values (conductivity line ) is over 3000 but my y axe remains at 996.

Can we help me ?

![graph](https://user-images.githubusercontent.com/34237648/34949626-e76bc0a2-fa10-11e7-8b33-683c56470b12.png)

Thank in advance.

[2018-03-16 13:27] alphaeadevelopment opened #86 "Error: <g> attribute transform: Trailing garbage, "…18181818181813, NaN)"."
react: 16.2.0
react-nvd3: 0.5.7
d3: 3.5.17
nvd3: 1.8.6

I created a sandbox for this issue:
[https://codesandbox.io/s/4292n7pmn7](https://codesandbox.io/s/4292n7pmn7)

[2018-03-16 13:31] alphaeadevelopment commented on #86
user error.

issue resolved by making sure that the x and y properties matched the datum.

https://codesandbox.io/s/32p86216jp

[2018-05-23 20:19] ardave commented on #86
Same problem and same solution for me, just now cost me a few hours.

Some project in the dependency chain might benefit from a clearer, more actionable error message.

[2018-05-26 00:00] vasturiano opened #87 "Release latest version"
Would you consider releasing a new version of the application, and publishing to the NPM registry?

I need a few bug fixes, (such as the [resize update bug](https://github.com/NuCivic/react-nvd3/commit/e64d6f347e0a845276b55bad7e8ae9ca1f2b8cc1)) which were merged posterior to the latest released version (`0.5.7`), and would be great to just upgrade it directly from the registry.

Thanks!

[2018-06-27 21:16] yuric22 opened #88 "How to use highlightPoint as an option?"
I'm trying to figure out how to use NVD3's function **highlightPoint** as an **option** passed to a react-nvd3 component. The [NVD3 documentation](http://nvd3-community.github.io/nvd3/examples/documentation.html#lineChart) says nothing, nor react-nvd3's README.

I looked into NVD3 source code and saw that this is simple function, but I couldn't figure it out how react-nvd3's option turn into this

[2018-09-14 20:53] acouch commented on #87
Sorry folks. This repo has changed hands a couple of times. I finally got our NPM credentials sorted out and will push a new version next week.

[2019-03-01 06:13] kadinwu opened #92 "no license for project"
i am looking for nvd3 react wrapper library, I find react-nvd3, but there is no license in here.
Could you add license for project ? MIT?

[2019-03-01 12:49] acouch commented on #92
I added one. Thanks for asking: https://github.com/NuCivic/react-nvd3/blob/master/LICENSE

[2019-03-01 12:49] #92 closed

[2020-04-23 14:50] kurtharriger commented on #87
Have you considered automating releases?  Travis CI is AFIK free for open source projects and fairly easy to configure if you have the necessary credentials

https://blog.travis-ci.com/2018-04-11-how_to_publish_node_js_packages_with_travis_ci_and_packagecloud/

[2020-06-09 12:32] U-Tyagi opened #94 "MultiBar Chart Yaxis Range is set to Lowest varying variableSet"
MyData:
[code]
Rdata, Hdata, Tdata are arrays like: [{'x': new Date(dateStr), 'y': 10},{..},....]
React-nvd3 Code:
[code]

It always set Yaxis range as per lowest varying VaribleArray i.e. Rdata; You can see the image
![1](https://user-images.githubusercontent.com/39787077/84147466-13e9a500-aa7b-11ea-8cce-4c902048195f.png)
[code]
Why Y-axis is displayed up to 9 only and not upto max Y value in the

[2020-06-16 03:43] joshivibhav1 commented on #62
In angular you have a chart parameter inside options but in react-nvd3, you need to pass all options directly, i.e. if you pass your this.props.options.chart, it will work. one thing to note is that you need to append datum inside the chart itself and not pass it as a seperate parameter.

For ex:
var chart = {...this.props.options.chart,...{datum:series}};
then in return
<NVD3Chart {...chart}/>

T

[2020-08-29 06:28] geohuz opened #95 "How to attach NVD3Chart component inside component?"
I'm worndering how to attach the NVD3Chart component inside regular react component, other than always have a div with id in the index.html?